.DS_Store
/logs
*/node_modules
*/target
*/.sass-cache
*/src/main/webapp/public/dist
*/src/main/webapp/public/data
*/src/main/webapp/WEB-INF/upload/*
.settings
.project
*.iml
/.idea
*.private.properties
application.yml
application-prod.yml
application-local.yml
application-test.yml
application-dev.yml